.service__title {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.service-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.service-card {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    box-shadow: 0 0 1px rgba(32, 32, 32, 0.5);
    border-radius: 3px;
}

.service-item__top {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.service-item__bottom {
    padding-bottom: 30px;
    font-weight: 400;
    line-height: 19px;
    color: #2F2F51;
}

.service-item__top,
.service-item__bottom {
    width: 400px;
}

.service-card_bg-img1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, #FFFFFF 48%, transparent), url('../images/section-title/bg-img-1.svg');
    width: 49%;
    height: 260px;
    padding: 64px 0px 32px 61px;
}

.service-card_bg-img2 {
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to right, #FFFFFF 48%, transparent), url('../images/section-title/bg-img-2.svg');
    width: 49%;
    height: 260px;
    padding: 64px 0px 32px 61px;
}

.service-card_bg-img3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, #FFFFFF 48%, transparent), url('../images/section-title/bg-img-3.svg');
    width: 49%;
    height: 260px;
    padding: 64px 0px 32px 61px;
}

.service-card_bg-img4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, #FFFFFF 48%, transparent), url('../images/section-title/bg-img-4.svg');
    width: 49%;
    height: 260px;
    padding: 64px 0px 32px 61px;
}

.services-item__logo {
    height: 66px;
    width: 72px;
}

.service-item__text {
    line-height: 19px;
}